DEVICE={{ template_team }}
NAME={{ template_team }}
DEVICETYPE=Team
ONBOOT=yes
PEERDNS=yes
BOOTPROTO=none
PROXY_METHOD=none
BROWSER_ONLY=no
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
MTU={{ mtu_size }}
IPADDR={{ ip_address_team }}
PREFIX=24
GATEWAY={{ team_gateway }}
DNS1={{ dns1_server }}
DNS2={{ dns2_server }}
SEARCH={{ search_domain }}
TEAM_CONFIG='{"runner":{"name":"{{ aggregation_method }}"},"link_watch": {"name":"ethtool"}}'
