$TTL 86400
@   IN  SOA     masterdns.example.com. root.example.com. (
        2011071001  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN  NS          masterdns.example.com.
@       IN  PTR         example.com.

masterdns       IN  A   192.168.122.3
rhgs1		IN  A	192.168.122.197
rhgs2		IN  A   192.168.122.41
rhgs3		IN  A   192.168.122.43
rhgs4		IN  A   192.168.122.214
rhgs5		IN  A   192.168.122.10
rhgs6		IN  A   192.168.122.47
remote-rhgs1	IN  A   192.168.122.38
remote-rhgs2	IN  A   192.168.122.128
remote-rhgs3	IN  A   192.168.122.115
local-rhn       IN  A   192.168.122.113
client		IN  A   192.168.122.217
rhwa		IN  A   192.168.122.249
rhevhost1       IN  A   192.168.122.151
rhevhost2       IN  A   192.168.122.244
rhevhost3       IN  A   192.168.122.215
rhevm           IN  A   192.168.122.46
winclient       IN  A   192.168.122.5
server1       	IN  A   192.168.122.227
server2       	IN  A   192.168.122.228
rhgs7       	IN  A   192.168.122.167
rhgs8       	IN  A   192.168.122.168
rhgs9       	IN  A   192.168.122.169
jenkins       	IN  A   192.168.122.111
rhhi1       	IN  A   192.168.122.15
rhhi2       	IN  A   192.168.122.16
rhhi3       	IN  A   192.168.122.17
rhgsa       	IN  A   192.168.122.21
rhgsb       	IN  A   192.168.122.22
rhgsc       	IN  A   192.168.122.23
docker       	IN  A   192.168.122.6
ose-master01            IN  A   192.168.122.51
ose-master02            IN  A   192.168.122.52
ose-master03            IN  A   192.168.122.53
ose-app-node01          IN  A   192.168.122.54
ose-app-node02          IN  A   192.168.122.55
ose-app-node03          IN  A   192.168.122.56
ose-infra-node01        IN  A   192.168.122.57
ose-infra-node02        IN  A   192.168.122.58
ose-infra-node03        IN  A   192.168.122.59
ose-cns-node01          IN  A   192.168.122.60
ose-cns-node02          IN  A   192.168.122.61
ose-cns-node03          IN  A   192.168.122.62
3		IN	PTR	masterdns.example.com.
197		IN	PTR	rhgs1.example.com.
41		IN      PTR	rhgs2.example.com.
43		IN      PTR	rhgs3.example.com.
214		IN      PTR	rhgs4.example.com.
10		IN      PTR	rhgs5.example.com.
47		IN      PTR	rhgs6.example.com.
38	 	IN      PTR	remote-rhgs1.example.com.
128		IN      PTR	remote-rhgs2.example.com.
115		IN      PTR	remote-rhgs3.example.com.
113		IN      PTR	local-rhn.example.com.
217		IN      PTR	client.example.com.
249		IN      PTR	rhwa.example.com.
151		IN	PTR	rhevhost1.example.com.
244		IN	PTR	rhevhost2.example.com.
215		IN	PTR	rhevhost3.example.com.
46		IN	PTR	rhevm.example.com.
5		IN	PTR	winclient.example.com.
227		IN	PTR	server1.example.com.
228		IN	PTR	server2.example.com.
167		IN	PTR	rhgs7.example.com.
168		IN	PTR	rhgs8.example.com.
169		IN	PTR	rhgs9.example.com.
111		IN	PTR	jenkins.example.com.
15		IN	PTR	rhhi1.example.com.
16		IN	PTR	rhhi2.example.com.
17		IN	PTR	rhhi3.example.com.
21		IN	PTR	rhgsa.example.com.
22		IN	PTR	rhgsb.example.com.
23		IN	PTR	rhgsc.example.com.
6		IN	PTR	docker.example.com.
51		IN	PTR	ose-master01.example.com.
52		IN	PTR	ose-master02.example.com.
53		IN	PTR	ose-master03.example.com.
54		IN	PTR	ose-app-node01.example.com.
55		IN	PTR	ose-app-node02.example.com.
56		IN	PTR	ose-app-node03.example.com.
57		IN	PTR	ose-infra-node01.example.com.
58		IN	PTR	ose-infra-node02.example.com.
59		IN	PTR	ose-infra-node03.example.com.
60		IN	PTR	ose-cns-node01.example.com.
61		IN	PTR	ose-cns-node02.example.com.
62		IN	PTR	ose-cns-node03.example.com.
